@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800&family=Montserrat:wght@400;500;600;700&family=Just+Me+Again+Down+Here&family=Public+Sans:wght@600&display=swap");
@import "tailwindcss";

:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
}

@keyframes gentle-wiggle {
  0%,
  100% {
    transform: rotate(-14.45deg);
  }

  50% {
    transform: rotate(-11deg);
  }
}

.handwritten-wiggle {
  animation: gentle-wiggle 3s ease-in-out infinite;
}